@import "@/app/globals.css";
/* @import "splide.min.css";
@import "aos/dist/aos.css"; */

@font-face {
  font-family: Futura !important;
  src: url("../../../public/fonts/FuturaLT.ttf");
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ------ */

html,
body {
  font-family: Futura, sans-serif !important;
  scroll-behavior: smooth;
}

./* s gradient generic */
.bg-animation {
  --size: 250px;
  --speed: 150s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsl(158, 82, 57, 85%), hsl(252, 82, 57));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media (min-width: 720px) {
  .bg-animation {
    --size: 500px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* e gradient generic */

/* slide side */
.after::after {
  content: "\226B";
  height: 100%;
  width: 50px;
  background: white;
  margin: auto;
  color: white;
  /* display: inline; */
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
}